#Configurazione per usare il database esternamente al Docker
DB_HOST=host.docker.internal

#Accesso al database
DB_NAME=nomedatabase
DB_USER=iltuotutente
DB_PASSWORD=latuapassword
DB_PORT=3306

#Porta su cui verrà eseguita l'app
APP_PORT=3001

#Intervallo download dati (glicemie) gluroo
POLL_INTERVAL_MINUTES=5

#Link Pubblico
PUBLIC_API_URL=glicemia.example.com

#Credenziali Gluroo
GLUROO_API_SECRET_TOKEN=2827d0a************************
GLUROO_API_SECRET_HEADER=04165*************************
GLUROO_BASE_URL=https://*******.gluroo.com
