DB_HOST=host.docker.internal
DB_NAME=glucoview
DB_USER=glucoview
DB_PASSWORD=glucoview
DB_PORT=3306
APP_PORT=3001
POLL_INTERVAL_MINUTES=5
PUBLIC_API_URL=
GLUROO_BASE_URL=https://aaa1.ns.gluroo.com
GLUROO_API_SECRET_TOKEN=
GLUROO_API_SECRET_HEADER=
