# Credenziali MySQL
DB_HOST=host.docker.internal
DB_NAME=NomeDatabase
DB_USER=IlTuoUtente
DB_PASSWORD=LaTuaPassword
DB_PORT=3306

# Porta applicazione
PORT=3001

# Tempo refresh dati in minuti
POLL_INTERVAL_MINUTES=5

# Url dell'applicazione
PUBLIC_API_URL= http://mio.dominio.it

# Telegram Bot
TELEGRAM_BOT_TOKEN=123456:ABCDEF
TELEGRAM_CHAT_ID=123456789

# Credenziali Gluroo
GLUROO_API_SECRET_TOKEN=2827d0a************************
GLUROO_API_SECRET_HEADER=04165*************************
GLUROO_BASE_URL=https://*******.gluroo.com
