node_modules/
dist/
build/
*.local

.docker.env
.env.local
.env.*.local
backend/.backend.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.log
.DS_Store
Thumbs.db

.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

*.swp
*.swo
*~

coverage/
*.lcov
.nyc_output/

.temp/
.tmp/
.cache/
.parcel-cache/
.eslintcache

.vite/
.vue/dist/
